.mosaic__container,
.about__img,
.about__content,
.social__wrapper,
.sess2__about-img,
.sess2__about-content,
.sess3__about-title,
.accordion__wrapper,
.about__mosaic-container,
#sess2__services h2,
.sess2__services-wrapper__img,
.sess2__services-wrapper__content,
.sess3__services-wrapper__content,
.sess3__services-wrapper__img,
.services__mosaic-container,
.sess7__services-wrapper {
  transition: ease-in-out 0.6s;
  opacity: 0;
}
.mosaic__container.onShow,
.about__mosaic-container.onShow,
.sess2__services-wrapper__img.onShow,
.sess3__services-wrapper__content.onShow {
  animation: show-left 0.8s forwards;
}
.about__content.onShow,
.sess2__about-content.onShow,
.accordion__wrapper.onShow,
.sess2__services-wrapper__content.onShow,
.services__mosaic-container {
  animation: show-right 0.8s forwards;
}
.about__img.onShow,
.sess2__about-img.onShow,
.sess3__services-wrapper__img.onShow {
  animation: fall 1s forwards;
}
.social__wrapper.onShow,
.sess3__about-title.onShow,
#sess2__services h2.onShow,
.sess7__services-wrapper.onShow {
  animation: show-up 0.8s forwards;
}
@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  from {
    opacity: 0.65;
    transform: rotate(90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes fall {
  from {
    opacity: 0.65;
    transform: translate3d(0, -300px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
