/* src/styles./src/css/fonts.css */

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("../fonts/NeueKabel/NeueKabel-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-ExtraLightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueKabel";
  src: url("./fonts/NeueKabel/NeueKabel.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
